@import "@/styles/common.scss";
.page{
    --answersed:#00be46;
    --notanswers:#cccccc;
    background-color: #fcf0cc;
}
.swiper-wrapper{
    .item{
        display: flex;
        justify-content:center;
        align-items: center;
        height: 90vh;
        width: 100%;
    }
}

.custom-indicator{
    font-size: var(--font-lg);
    .current{
        font-weight: bold;
        color: #23262d;
    }
}

.bottom-bar{
    //height: 6vh;
    width: 100%;
    border-top:solid 1px #cccccc;
    display: flex;
    align-items: center;
    // position: fixed;
    // top: 0px;
    padding:10px 10px 10px 10px;
    box-sizing:border-box;
    justify-content: space-around;

    .answers-status{
        color: #23262d;
        font-size: var(--font-lg);
    }
}


.question-bubbleslist-wrapper{
    width: 100%;
    display: grid;
    //气泡大小
    $_bubble-size:11vw;
    $_select_color:var(--answersed);
    $_notselect_color:var(--notanswers);  
    grid-template-columns: repeat(6,$_bubble-size);
    row-gap:calc($_bubble-size/4);
    justify-content: space-around;
    .bubble{
        // margin: 10px;
        width: $_bubble-size;
        height: $_bubble-size;
        min-width: $_bubble-size;
        min-height: $_bubble-size;
        border-radius: 100%;
        border: solid $_notselect_color 1px;
        box-sizing: content-box;
        text-align: center;
        line-height: $_bubble-size;
        font-size: var(--font-lg);
        color: var(--notanswers);
    }  

}

.question-panel{
    box-sizing: content-box;
    padding:0px 20px 0px 20px;
    font-size: var(--font-m);
    .answers-wrapper{
        font-size: var(--font-m);
        .option-icon{
            width: var(--font-max);
            height: var(--font-max);
            border-radius: 100%;
            border:solid 1px #cccccc;
            font-size: var(--font-ms);
            background-color: #ffffff;
            // box-shadow: 0px 3px 3px #ccc;
            display: flex;
            line-height: 0px;
            letter-spacing: 0px;
            word-spacing: 0px;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: bold;
        }
    }

    .question-wrapper{
        font-size: var(--font-lg);
        line-height: 1.5;
        letter-spacing: 2px;
        // font-weight: bold;
        .label{
            color: #ffffff;
            background-color: var(--answersed);
            font-size:var(--font-ms);
            border-radius: 3px;
        }
    }   
}