@import "@/styles/common.scss";
.page{
    --answersed:#00be46;
    --notanswers:#cccccc;
}
.swiper-wrapper{
    .item{
        display: flex;
        justify-content:center;
        align-items: center;
        height: 90vh;
        width: 100%;
    }
}

.custom-indicator{
    font-size: var(--font-lg);
    .current{
        font-weight: bold;
        color: #23262d;
    }
}

.bottom-bar{
    //height: 6vh;
    width: 100%;
    border-top:solid 1px #cccccc;
    display: flex;
    align-items: center;
    // position: fixed;
    // top: 0px;
    padding:10px 10px 10px 10px;
    box-sizing:border-box;
    justify-content: space-around;

    .answers-status{
        color: #23262d;
        font-size: var(--font-lg);
    }
}


.question-panel{
    box-sizing: content-box;
    padding:0px 20px 0px 20px;
    font-size: var(--font-m);
    .answers-wrapper{
        font-size: var(--font-m);
        .option-icon{
            width: var(--font-max);
            height: var(--font-max);
            border-radius: 100%;
            border:solid 1px #cccccc;
            font-size: var(--font-ms);
            background-color: #ffffff;
            box-shadow: 0px 3px 3px #ccc;
            display: flex;
            line-height: 0px;
            letter-spacing: 0px;
            word-spacing: 0px;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: bold;
        }
    }

    .question-wrapper{
        font-size: var(--font-lg);
        color: #23262d;
        font-weight: bold;
        .label{
            color: #ffffff;
            background-color: var(--answersed);
            font-size:var(--font-ms);
            border-radius: 3px;
        }
    }
}