.login-page{
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    
    .form-wrapper{
        width: 100%;
      padding: 20px;
      box-sizing:border-box;
    }
    .button{
        width: 100%;
    }
    .forget-password{
        width: 100%;
        display: flex;
        justify-content: end;
    }
}