/**
    主题样式数据源，以Map形式存储
*/
$themes:(
    light:(
        background-color:rgb(248, 248, 248),
        foreground-color:white,
        text-color:black,
        descript-color:#999999,
        primary:white,
    ),
    dark:(
        background-color:black,
        foreground-color:#242424,
        text-color:white,
        descript-color:#999999,
        primary:rgba(255,255,255,0.65),
    ),
);